/*Custume of the body*/
body{
    background-color:antiquewhite;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
/*Title custume*/
.titulo{
    color: rgb(248, 248, 248);
    text-align: center;
}
/*Menu custume*/
.Menu{
    background-color: rgb(52, 35, 78);
    margin: auto;
    text-align: center;
}
.Menu li a{
text-decoration: none;
color: white;
display: flex;
padding-inline: 170px;

}
.Menu li{
    display: flex;
    display: inline-flex;
}
/*container custume*/
.container{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border: 1px solid gray;
}
/*Box*/
.box{
    flex: 1;
}


/* colours for each box */
.box1{background: lightgreen;
border: solid gray;
padding: 10px;}
.box2{background: lightgreen;
    display: flex;
    align-items: stretch;
    padding-left: 35%;
    }
.box3{
    background-color: aliceblue;
}
.box4{background: whitesmoke;
border: solid black;
padding: 10px;}
.box5{background: whitesmoke;
    align-self: center;
    border:solid black ;}
.picture{
    border: 2px solid black;
    display: flex; /*ajusta exactamente al tamaño de la imagen*/
    width: auto;
    height: auto;
    padding-left: 30%;
}
/*Paragraph custume*/
.Parrafo{
    text-align: center;
    display: block;
    margin-top: auto;
}
/*Tabla 1*/
.tabla1 th, .tabla1 td{
    border: 1px solid rgb(0, 0, 0);
    border-collapse: collapse;
    border-color: black;
    min-width: 40%;
    border-width: 2px;
}
